{
    "root": true,
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-unsafe-finally":0,
        "@typescript-eslint/ban-ts-comment":0,
        "@typescript-eslint/no-var-requires":0,
        "@typescript-eslint/no-unused-vars":0,
        "@typescript-eslint/no-explicit-any":0,
        "@typescript-eslint/explicit-module-boundary-types":0

    },
    "ignorePatterns": ["src/**/*.test.ts", "src/frontend/generated/*"]
}